---
import { readdirSync, readFileSync } from 'fs';
import { fileURLToPath } from 'url';
import path from 'path';
import Layout from '../layouts/Layout.astro';

export async function getStaticPaths() {
	const __dirname = path.dirname(fileURLToPath(import.meta.url));
	const dataDir = path.join(__dirname, '../../src/data');

	const files = readdirSync(dataDir).filter((file: string) =>
		file.endsWith('.json')
	);
	return files.map((file: string) => {
		const filename = file.replace('.json', '');
		return {
			params: {
				playlist: filename,
			},
			props: {
				title: filename
					.split('_')
					.map(
						(word: string) => word[0].toUpperCase() + word.slice(1)
					)
					.join(' '),
				data: JSON.parse(
					readFileSync(path.join(dataDir, file), 'utf8')
				),
			},
		};
	});
}
---

<html>
	<Layout title={Astro.props.title}>
		<main>
			<h1 class="font-bold text-6xl text-balance flex align-middle mb-8">
				<a href="/dmsp" class="flex" aria-label="Back to catalog">
					<svg
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 700 700"
						fill="currentColor"
						class="w-12 h-12 inline mr-8"
					>
						<path
							d="m392.7 522.2-107.1-106.4h379.4v-131.6h-379.4l107.1-106.4-93.098-92.402-264.6 264.6 264.6 264.6z"
						></path>
					</svg>
				</a>
				{Astro.props.title}
			</h1>
			<table class="border-collapse text-lg w-full">
				<thead>
					<tr>
						<th class="text-left pr-4">#</th>
						<th class="text-left pr-4">Artist</th>
						<th class="text-left pr-4">Song</th>
						<th class="text-left">CD</th>
					</tr>
				</thead>
				<tbody>
					{
						Astro.props.data.map(
							(
								row: {
									artist: string;
									title: string;
									album: string;
								},
								i: string
							) => (
								<tr class="mt-2 hover:bg-gray-700">
									<td class="pr-4">{i + 1}</td>
									<td class="pr-4">{row.artist}</td>
									<td class="pr-4">{row.title}</td>
									<td>{row.album}</td>
								</tr>
							)
						)
					}
				</tbody>
			</table>
		</main>
	</Layout>
</html>
